.container, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5px;
    background-color: white;
    flex-shrink: 0;
}
.input_name {
    background-color: #4F81BD;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 163.2px;
    height: 38.2px;
    text-align: center;
    display: inline-block;
    border: 2px solid #41719C;
}

.entering {
    color: black;
    padding: 5px;
    border-radius: 5px;
    width: 163.2px;
    height: 38.2px;
    display: inline-block;
    margin: 5px 20px;
    border: 2px solid #41719C;
    box-sizing: border-box;
}

form {
    display: flex;
    padding-left: 20px;
}

.button-container {
    color: white;
    cursor: pointer ;

}
.deleteButton {
    background-color: red; 
}

.editButton {
    background-color: green;
}
#nonsubmitButton{
    width: 120px;
    height: 38px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 5px;
    background-color: #4F81BD;
    border: 3px solid #41719C;
}
#resetButton{
    width: 120px;
    height: 38px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 5px;
    background-color: #4F81BD;
    border: 3px solid #41719C;
}
#submitButton{
    width: 75px;
    height: 30px;
    border-radius: 5px;
    background-color: #4F81BD;
    border: 3px solid #41719C;
    position: relative;
    left: 90px;
    top: 55px;
    margin-left: 100px;
}
.title{
    position: relative;
    right: 100px;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left; 
    border-bottom: 1px solid #ddd;
}

th {
    background-color: white;
    font-weight: bold;
}

#tableButton{
    padding: 5px 5px;
    margin: 5px;
    width: 60px;
    background-color: #ee2f1d;
    border: 3px solid #ffffff;
    margin-right: 20px;
    border-radius: 5px;
}

table th, table td {
    border: none; 
}
th:not(:first-child),
th:not(:first-child) {
    margin-left: 2px; 
}

th:nth-child(3) {
    margin-right: 20px;
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

#bookTableBody {
    max-height: 100%;
    overflow-y: auto;
}

.bookTableContainer {
    overflow-y: auto;
    max-height: 500px;
}


